<div class="container_small-card">
    <div class="small-card__photo">
        <img
        src="https://asset.vg247.com/genshin-impact-wanderer-build.jpg/BROK/resize/1920x1920%3E/format/jpg/quality/80/genshin-impact-wanderer-build.jpg"
        alt="The Baladeer">
    </div>
    <div class="small-card__title">
        <h1>
            <a href="https://www.vg247.com/genshin-impact-wanderer-build-scaramouche" target="_blank">
                Como reconstruir um laço com o filho abandonado?
            </a>
        </h1>
        <div class="small-card__description">
            <p>
                Quando as nossas atitudes acumulam séculos de rancor e ódio, como reverter isso para ter uma vida
                normal?
            </p>
        </div>
    </div>

</div>
