<div class="container_small-card">
  <div class="container_small-card_content">
    <div class="small-card__photo">
      <img
      src={{photoCover}}
      alt="The Baladeer">
    </div>
    <div class="small-card__title">
      <div class="small-card__description">
          <p>
              {{dataCard}}
          </p>
      </div>
      <h1>
          <a href="https://www.vg247.com/genshin-impact-wanderer-build-scaramouche" target="_blank">
              {{cardTitle}}
          </a>
      </h1>
    </div>
  </div>
  <div class="container_small-card_separator">
    <hr color="gray">
  </div>
</div>

