.container_small-card {
  width: 50vw;
  margin-bottom: 2vw;

}

.container_small-card_content {
  width: 50vw;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.small-card__photo {
  width: 25vw;
}

.small-card__photo > img {
  width: 25vw;
}

.small-card__title > h1 {
  padding-left: 1vw;
  font-size: 2vw;
  font-weight: bolder;
  display: flex;
  justify-content: right;
  align-items: center;

}

.small-card__description > p {
    width: 100%;
    padding-left: 1vw;
    font-size: 0.8vw;
    color: gray;
}

.container_small-card_separator hr {
  width: 100%;
}
