.container_small-card {
    box-sizing: content-box;
    border: solid white 0.18rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    width: 25rem;
    height: 10rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.small-card__photo > img {
    position: relative;
    top: 2.5rem;
    left: 0.1rem;
    height: 5rem;
    margin-right: 0.5rem;


}

.small-card__title > h1 {
    padding-left: 0.5rem;
    margin-top: 1%;
    font-size: 0.8rem;
    font-weight: bolder;

}

.small-card__description > p {
    padding-left: 0.5rem;
    margin-top: 1%;
    font-size: 1rem;
    color: gray;
}
