<div class="container_content">
  <div class="content_cover">
    <img src="https://i.ytimg.com/vi/kK4I1qhKZ9E/maxresdefault.jpg">
  </div>
  <a [routerLink]="['']">VOLTAR</a>
  <div class="content_title">
    <h1>Como ser mãe, e não amiga?</h1>
    <hr>
  </div>
  <div class="content_description">
    <p>
      O desafio de criar um filho se renova a cada dia e, muitas vezes, é difícil definir qual papel você deseja assumir como mãe:
      figura de autoridade ou melhor amiga.
      A primeira remonta a uma imagem mais arcaica, na qual há pouco espaço para troca.
      A última se refere a uma imagem mais moderna, ligada a uma relação mais afetuosa e próxima.
      Mas qual é a melhor opção se o que você deseja garantir é o correto desenvolvimento da criança/adolescente?
      Psicólogos especializados em educação e desenvolvimento defendem uma figura intermediária,
      que permite criar um vínculo de amizade, mas de forma positiva, sem brechas para o desrespeito e o uso
      indevido dos papéis.
    </p>
  </div>
</div>
