.container_content {
  border:solid white 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.content_cover > img {
  border: solid grey 1px;
  border-radius: 2%;
  width: 30rem;
  margin-bottom: 2rem;

}

.content_title > hr {
  margin-bottom: 2rem;
}

.content_description {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.content_description > p {
  color: grey;

}
